<div class="flex min-h-screen items-center justify-center">
  @if (queryResult().loading) {
    <div>Loading...</div>
  } @else if (queryResult().error || commandError()) {
    <div>Server error</div>
  } @else if (!queryResult().listFound) {
    <div>The specified list could not be found</div>
  } @else if (!queryResult().items.length) {
    <div class="flex flex-col justify-center">
      No items added yet<br /><button type="button" class="link-button" (click)="initializeItem()">
        Add new item
      </button>
    </div>
  } @else {
    <div class="flex flex-col min-w-3xl max-w-3xl">
      <div class="flex justify-end">
        <button type="button" class="link-button mb-4" (click)="initializeItem()">
          Add new item
        </button>
      </div>
      @for (item of queryResult().items; track item.sequence) {
        <div class="flex flex-row justify-between border border-gray-100">
          <div class="flex flex-col">
            <div>
              <b>{{ item.title }}</b>
            </div>
            <div>{{ item.body }}</div>
          </div>
          <div class="flex flex-col">
            <div>
              <button type="button" class="link-button" (click)="editItem(item.itemID)">
                Edit
              </button>
              |
              <button type="button" class="link-button" (click)="deleteItem(item.itemID)">
                Delete
              </button>
            </div>
          </div>
        </div>
      }
      @if ({ current: page()! * 1, count: queryResult().pageCount! * 1 }; as page) {
        @let previousPage = page.current - 1;
        @let nextPage = page.current + 1;

        <div class="flex flex-row">
          @if (page.current > 1) {
            <a [relativeTo]="route" [routerLink]="['../', '1']">&lt;&lt;&nbsp;First</a
            >&nbsp;&nbsp;&nbsp;
            <a [relativeTo]="route" [routerLink]="['../', previousPage]">&lt;&lt;&nbsp;Previous</a
            >&nbsp;&nbsp;&nbsp;
            <a [relativeTo]="route" [routerLink]="['../', previousPage]">{{ previousPage }}</a
            >&nbsp;&nbsp;&nbsp;
          }
          <span>[ {{ page.current }} ]</span>&nbsp;&nbsp;&nbsp;
          @if (page.current < page.count - 1) {
            <a [relativeTo]="route" [routerLink]="['../', nextPage]">{{ nextPage }}</a
            >&nbsp;&nbsp;&nbsp;
            <a [relativeTo]="route" [routerLink]="['../', nextPage]">Next&nbsp;&gt;&gt;</a
            >&nbsp;&nbsp;&nbsp;
            <a [relativeTo]="route" [routerLink]="['../', nextPage]">Last&nbsp;&gt;&gt;</a
            >&nbsp;&nbsp;&nbsp;
          }
        </div>
      }
    </div>
  }
</div>
